.table-container{
    background-image: url('background.jpg');
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    color: white;
}
.add-table{
    
    border: 2px solid gray;
    width: 50vw;
    height: 45vh;
}
th{
    width: 12vw;
    min-width: 12vw;
    height: 9vh;
    border: 1px solid lightgray;
    color: white;
}
/* input{
border: none;
outline: none;
height: 9vh;
font-size: larger;
margin-left: 2vw;
margin-right: 2vw;
margin-top: 4vh;
z-index: -1;
position: absolute;
} */
.inside-button{
    height: 9vh;
    width: 12vw;
    color: white;
    background-color: inherit;
    border: none;
    font-size: larger;
}
.inside-button:hover{
    text-emphasis: 2px;
    cursor: pointer;
    color: rgb(9, 240, 240);
}
.option{
    display: none;
}
.AddBtn{
    margin-top: 3vh;
    font-size: large;
    font-weight: bolder;
    background-color: white;
    border-radius: 5px;
}
.del-btn{
    color: white;
    background-color: inherit;
    font-weight: bold;
    border: none;
    
}
.del-btn:hover{
    cursor: pointer;
}